<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.content}}</title>
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="icon" href="https://8zt.cc/favicon.ico" type="image/x-icon" id="page_favionc">
    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <link href="./static/main.css" rel="stylesheet">
    <link rel="alternate icon" type="image/png" href="/">
    <script src="./static/jquery.min.js"></script>
    <style>hcfy-result.__hcfy__result__both__{border: 1px dotted}</style></head>
<body>
<div class="top-wrap" style="position: absolute; top: 1vh;width: 100%;z-index: 999">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col">
                <a href="https://8zt.cc/index.html"><img src="./static/logo.png" alt="famous remark" title="famous remark"></a>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper" style="position: relative; top: -6vh;">
    <div class="container main-sentence justify-content-center text-center">
        <span id="sentence" style="font-size: 2rem;">{{.content}}</span>
    </div>
</div>

<div class="foot-1" style="position: absolute; bottom: 7vh;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="btn btn-success btn-filled btn-xs"><a class="btn btn-success btn-filled btn-xs" href="/">MORE</a></span>
                <br>
                <a href="/add.html">ADD</a> ←| →<a href="/">CHECK</a>
            </div>
        </div>
    </div>
</div>
<script>

</script>

</body><div style="all: initial;"><div id="__hcfy__" style="all: initial;"></div></div><div style="all: initial;"><div style="all: initial;"></div></div></html>